@import '~bootstrap/scss/bootstrap';

h1 {
  color: #1a80c9;
  font-size: 100px;
  text-align: center;
}

.container {
  padding-bottom: 100px;
  padding-top: 100px;
}

.col-4 {
  height: 200px;
  margin: auto;
  width: 600px;
}

.col-6 {
  height: 5% auto;
  margin-bottom: 50px;
  width: 50% auto;
}

// .row {
//   height: 200px;
//   margin: auto;
//   width: 600px;
// }
// Hover over square to change color (background or opacity)
// Helps show current selected option
